extends layout.pug

block content
  div.banner-left
    h2.mdc-typography--display4 mboard
    h4.mdc-typography--display3 Error:
    h4.mdc-typography--display2 The mboard device service is not running, please restart the device.
