extends layout.pug

block content
  div.banner-left
    h1.mdc-typography--display4 mboard
    h4.mdc-typography--display3 Error:
    h4.mdc-typography--display2 The mboard device was unable to obtain an IP address.
