extends layout.pug

block content
  br
  br
  br
  center
    div.mdc-layout-grid
      div.mdc-layout-grid__inner
        div.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          h1 mboard
            small 1.0
          h4 madsportslab. Copyright &copy; 2018. All rights reserved.
